.KenContainer{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    width: 40%;
    height: 100%;
    
    
    position
}

.nestContainer{
    border: 2px solid black; 
    display: block;
}

.KenKenContainer{

}
